<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div id="title">
      <p>Music In Motion</p>
    </div>
    <div id="container">
      <div id="left">
        <div id="genreTitle">Genres</div>
        <div id="genreList">
          <div class="genreBox" id="ambient">Ambient</div>
          <div class="genreBox">Classical</div>
          <div class="genreBox">Country</div>
          <div class="genreBox">Dance</div>
          <div class="genreBox">Electronic</div>
          <div class="genreBox">Folk</div>
          <div class="genreBox">Hip Hop</div>
          <div class="genreBox">Jazz</div>
          <div class="genreBox">Metal</div>
          <div class="genreBox">Pop</div>
          <div class="genreBox">Rap</div>
          <div class="genreBox">Rock</div>
          <div class="genreBox">Techno</div>
        </div>
      </div>
      <div id="right">

        <div id="soundArea">
          <button type="button" onclick="togglePauseTrack()">Play/Pause</button>
          <button type="button" onclick="playNextTrack()">Next</button>
          <div id="soundPlayer">
              <img class="soundImage" src="/images/yacht.jpg"/>
          </div>
        </div>

        <div id="playlistArea">
          <div class="playlist" id="p1"><p>playlist 1</p></div>
          <div class="playlist" id="p2"><p>playlist 2</p></div>
          <div class="playlist" id="p3"><p>playlist 3</p></div>
          <div class="playlist" id="p4"><p>playlist 4</p></div>
        </div>


      </div>
    </div>

    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="http://connect.soundcloud.com/sdk.js"></script>
    <script src="/javascripts/index.js"></script>

  </body>
</html>
