<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div id="container">
      <p id="title">Music In Motion</p>
      <div id="left">
        <p>Genres</p>
      </div>
      <div id="right">

        <div id="soundArea">
          <div></div>
        </div>

        <div id="playlistArea">
        </div>

      </div>
    </div>
  </body>
</html>
