<!DOCTYPE html>
<html>
  <head>
    <title>Soundcloud Practice</title>
    <script src="/javascripts/soundcloud.js">.</script>
  </head>
  <body>
    <p>Landing page</p>
    <p id="test1"></p>
  </body>
</html>
