body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#container {
  width: 900px;
  margin: 0 auto;
  height: 600px;
  text-align: center;
}

#left {
  width: 200px;
  height: 600px;
  float: left;
  font-weight: bold;
}

#right {
  width: 700px;
  height: 600px;
  float: right;
}

#title {
  text-align: center;
}

#soundArea {
  height: 450px;
  width: 700px;
}

#playlistArea {
  height: 150px;
  width: 700px;
  background-color: black;
}

#soundPlayer {
  width: 500px;
  height: 300px;
  background-color: white;
  margin: auto;
  top: 50px;
  position: relative;
}

#container, #soundPlayer, .playlist {
  border: 2px solid;
  border-radius: 5px;
}

.playlist {
  height: 100px;
  width: 100px;
  background-color: black;
  top: 520px;
  position: absolute;
  background-color: white;
  background-image: url("../images/yacht.jpg");
}

#p1 {
  left: 470px;
}

#p2 {
  left: 615px;
}

#p3 {
  left: 760px;
}

#p4 {
  left: 905px;
}

#title {
  text-align: center;
}

.soundImage {
  width: 100%;
  height: 100%;
}

.genreBox {
  height: 70px;
  width: 198px;
  background-color: #99D6FF;
  font-size: 14px;
  border-bottom: 2px solid;
  border-right: 2px solid;
  padding-top: 30px;
}

#genreList, #left {
  overflow: scroll;
}

#genreTitle {
  font-size: 16px;
}

#ambient {
  border-top: 2px solid;
}

#genreList div:nth-child(even) {  
  background-color: #98B2FF;
}

#genreTitle {
  padding-top: 10px;
  height: 30px;
  width: 198px;
  border-right: 2px solid;
}

